{% extends "base.html" %}
{% load static %}

{% block content %}

{% include "components/navbar.html" %}

<section class="section">
    <div class="container">
        <h1 class="title">
            Welcome to {{ project_name }}!
        </h1>
        <p class="subtitle">
            This is the home page.
        </p>
    </div>
</section>

{% endblock %}
