{% extends "base.html" %}

{% block title %}Login - ${PROJECT_NAME}{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-6">
                <div class="box">
                    <h1 class="title has-text-centered">Login</h1>
                    
                    <form method="post" class="mt-5">
                        {% csrf_token %}
                        
                        {% if form.errors %}
                        <div class="notification is-danger">
                            <button class="delete"></button>
                            Your username and password didn't match. Please try again.
                        </div>
                        {% endif %}
                        
                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" name="username" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control has-icons-left">
                                <input class="input" type="password" name="password" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" name="remember">
                                    Remember me
                                </label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <button class="button is-primary is-fullwidth" type="submit">
                                    Login
                                </button>
                            </div>
                        </div>

                        <div class="has-text-centered mt-5">
                            <p>Don't have an account? <a href="{% url 'users:register' %}">Sign up</a></p>
                            <p class="mt-2">
                                <a href="{% url 'users:password_reset' %}">Forgot your password?</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 