from django.urls import path
from . import views

app_name = 'common'

# Url patterns for the 'common' app.
urlpatterns = [
    # Common HTMX endpoints
    path('components/modal/', views.modal, name='modal'),
    path('components/toast/', views.toast, name='toast'),
    path('components/alert/', views.alert, name='alert'),
] 